.container-Admin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
}
.btnSearch{
  margin-top: 1em;
  color: #17181b !important;
  background-color: #ffffff !important;
  border-radius: 20px;
}
:root {
  --light: #f1c58b;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: rgb(201, 201, 201);
}

.container-Admin {
  position: relative;
  width: 100%;
  margin-bottom: 25em;

}
#downloadStats{
  background-color: #4b4c4f !important;
width: 120%;
height: 230%;
border-radius: 7px;
  color: white !important;
  border: 2px solid var(--primary);
  margin-left: 1em;
}
.navigation {
  /* position: fixed; */
  width: 300px;
  height: 100%;
  margin-top: 2em;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--black1);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  margin-left: -10px;
  font-size: 1.3rem;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  background: transparent;
  width: calc(100% - 80px);
  left: 80px;
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search {
  position: relative;
  width: 400px;
  margin: 20px 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
  margin-top: 40px;
  margin-left: 50px;
}
.search .srch {
  margin-top: -55px;
  margin-right: 20px;
}

.cardbox {
  margin-top: 10px;
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.cardbox .card {
  position: relative;
  background: var(--black1);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardbox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  color: var(--white);
}
.cardbox .card .cardName {
  color: var(--black2);
  font-size: 1em;
  margin-top: 50px;
}
.cardbox .card .cardName h2{
  font-size: 2em;
  margin-bottom: -1em!important
}
.cardbox .card .iconBx {
  font-size: 3.5em;
  color: var(--black2);
}

.cardbox .card:hover {
  background: var(--grey);
}
.cardbox .card:hover .numbers,
.cardbox .card:hover .iconBx,
.cardbox .card:hover .cardName {
  color: var(--black1);
}
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /*margin-top: 10px;*/
}
.details .recentPosts {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.cardHeader {
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--black1);
  margin-left: -80px;
}

.cardHeader .btn-view {
  width: 250px;
  margin-top: -50px;
  margin-left: -20px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -100px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentPosts table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentPosts table tr:last-child {
  border-bottom: none;
}
.details .recentPosts table tbody tr:hover {
  background: var(--black2);
  color: var(--white);
}
.details .recentPosts table tr td {
  padding: 10px;
}
.details .recentPosts table tr td:last-child {
  text-align: end;
}
.details .recentPosts table tr td:nth-child(2) {
  text-align: end;
}
.details .recentPosts table tr td:nth-child(3) {
  text-align: center;
}

.recentCustumers {
  position: relative;
  display: grid;
  height: min-content;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background: var(--black2);
}
.recentCustumers table{
  margin-top: 10px;
}
.recentCustumers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.recentCustumers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: over;
}
.recentCustumers table tr:hover {
  background: var(--grey);
  color: var(--white);
}
.recentCustumers table tr td {
  padding: 12px 10px;
}
.recentCustumers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentCustumers table tr td h4 span {
  font-size: 12px;
  color: var(--black1);
  font-style: italic;
}
.recentCustumers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustumers table tr:hover td h4 span {
  color: var(--white);
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300;
  }
  .cardbox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inprogress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardbox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font: size 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active.toogle {
    position: fixed;
    right: 0;
    left: initial;
    color: var(--white);
  }
}


.Rcardbox {
  margin-top: 10px;
  width: 90%;
  padding: 20px;
  margin-left: -5em;
}
.Rcardbox .Rcard {
  position: relative;
  background: var(--black1);
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.Rcardbox .Rcard .numbers {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  color: var(--white);
}
.Rcardbox .Rcard .RcardName {
  color: var(--black2);
  font-size: 1em;
  margin-top: 50px;
}
.Rcardbox .Rcard .RcardName h2{
  font-size: 2em;
  margin-bottom: -1em !important;
}