.post {
  width: 385px;
  height: 400px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 385px;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postTitle1 {
  align-items: flex-end;
}

.postTitle1 > a {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  align-items: left;
  cursor: pointer;
  text-decoration: none;
  color: #17181b;
}
.postTitle1 > a:hover {
  color: #3b3b3b;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.selectedcards {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  /* margin-top: -20em; */
}
.allcards {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-left: 25px;
  width: 100%;
  margin-top: 30px;
  background-color: white;
}

video {
  object-fit: cover;
  width: 100%;
  height: 60%;
  position: fixed;
  z-index: -1;
}
.button button {
  width: fit-content;
  margin-left: 250px;
  border-radius: 7px;
}

#imgContent {
  position: relative;
}

.button {
  position: absolute;
  top: 160px;
  left: 30px;
  padding: 0px;
}
.home {
  display: flex;
  flex-direction: row;
margin-bottom: 9em;
  /* margin-top: 470px; */
}
